[user]
	name = 
	email = 
    username = 

[core]
    excludesfile = ~/.gitignore
    pager = delta
	autocrlf = input

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only

[delta]
    side-by-side = true
    line-numbers-left-format = ""
    line-numbers-right-format = "│ "
    syntax-theme = Nord
